# Dependencies
node_modules/
**/node_modules/

# Production Builds
dist/
**/dist/
build/
**/build/

# Environment variables
.env
**/.env
.env.local
.env.*.local

# Logs
*.log
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test coverage
coverage/
**/coverage/

# OS and IDE Files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.tsbuildinfo

# SQLite / Dev databases if any
*.db
*.sqlite
